.herotwo-main {
    background-color: #f4f4fa;
    box-sizing: inherit;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
    margin: 80px 128px;
    gap: 60px;
    height: auto;
}

content {
    flex: 1;
    max-width: 500px;
}

.content h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 14px;
    color: #1e0a3c;
    font-family: LyftProUI, sans-serif;

}

.content p {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: ProximaNova, sans-serif;
}

.buttons {
    display: flex;
    gap: 28px;
    transition: background-color 0.3s ease;
}

button.secondary {
    background: none;
    border: none;
    color: #1e0a3c;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.image {

    border-radius: 10px;
    width: 500px;
    height: auto;
    object-fit: cover
}