.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    background-color: white;
    gap: 60px;
    font-family: ProximaNova, sans-serif;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {

    font-size: 36px;
    font-weight: 600;
    font-family: LyftProUI, sans-serif;
    margin-bottom: 16px;
    color: #111827;
}

.hero-content p {
    font-family: ProximaNova, sans-serif;
    color: #333;
    margin-bottom: 24px;
    font-size: 16px;
    /* border: 1px solid red; */
}


.hero img {
    width: 500px;
    height: auto;
    object-fit: cover;
}