.herothree-main {
    font-family: ProximaNova, sans-serif;
    background: #fff;
    box-sizing: inherit;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: auto;
    padding: 40px 40px;
}

.main-content {
    max-width: 500px;
}

.main-content h4 {
    padding-bottom: 16px;
    text-transform: uppercase;
    font-family: ProximaNova, sans-serif;

}

.main-content h1 {
    padding-bottom: 18px;
    font-size: 36px;
    font-weight: 600;
    font-family: LyftProUI, sans-serif;
    ;
}

.main-content p {
    padding-bottom: 16px;
    font-family: ProximaNova, sans-serif;
    padding-bottom: 28px;
}

li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    color: #0c0b31;

}

ul .list-one {
    padding-bottom: 18px;

}

ul .list-two {
    padding-bottom: 18px;

}

ul .list-three {
    padding-bottom: 48px;

}

.buttons {
    display: flex;
    gap: 20px;
    transition: background-color 0.3s ease;
}

.btnone {
    background-color: #523be4;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;

}

.btnone:hover {
    background-color: #6a2fd8;
}

.btntwo {
    background: none;
    color: #1e0a3c;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}