.herosix-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 60px;
    padding: 40px 80px;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    box-sizing: inherit;

}

.herosix-content {
    max-width: 500px;
}

.herosix-content h1 {
    font-size: 48px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 18px;
    line-height: 1.2;
}

.herosix-content p {
    margin-bottom: 18px;
    font-family: ProximaNova, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 28px;
    transition: background-color 0.3s ease;

}

button.button-one {
    background-color: #6e38f7;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 18px;

}

button.button-one:hover {
    background-color: #5f2eea;
}

button.button-two {
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: none;
    color: #1e0a3c;
}

.herosix-main img {
    width: 500px;
    height: auto;
    object-fit: cover;
}